@import 'fonts.css';

.componentFlexRow {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: .2em;
  display: flex;
  flex-direction: row;
}

.componentFlexColumn {
  margin-top: .2em;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}

.modeText {
  font-size: 1.5em;
}