.container {
  display: flex;
  flex-direction: row;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.userInterface {
  background-color: white;
  padding-right: .2em;
  margin-right: 5em;
}

.userInterface1 {
  background-color: white;
  padding-right: .2em;
  width: 25%;
}

.checkbox {
  margin-top: 1em;
  margin-bottom: 1em;
}

.item {
  grid-column: 1 / 1;
  margin-left: 2em;
  margin-bottom: 1em;
}

.ui {
  grid-column: 1 / 1;
  justify-self: start;
  align-self: center;
}


.axisControl {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 0.5em;
}

.input {
  margin: .7em
}

.gType {
  margin-right: 1em
}

.plotlyStyle {
  padding: 1em
}

.select {
  width: 5%;
}

.componentFlexRow {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.componentFlexColumn {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.range_wrapper {
  margin: 20px 0px 0px 15px;
}

.data_options_wrapper {
  border: 0.5em solid #6294e5;
  border-radius: 4px;
  margin: 2em 2em 1em 0em;
  padding: 1.3em;
  display: flex;
  flex-direction: column;
}

.button {
  border: .25em solid #6294e5;
  border-radius: 4px;
  width: 110px;
  height: 40px;
  margin: .25em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.button:hover {
  background-color: #6294e5;
  color: white;
}

.checkbox_list {
  margin: 1em;
}

.label {
  margin-right: .5em;
}