.container {
  display: flex;
  flex-direction: row;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.userInterface {
  background-color: white;
  padding-right: .2em;
  margin-right: 5em;
}

.userInterface1 {
  background-color: white;
  padding-right: .2em;
  width: 25%;
}

.checkbox {
  margin-top: 1em;
  margin-bottom: 1em;
}

.item {
  grid-column: 1 / 1;
  margin-left: 2em;
  margin-bottom: 1em;
}

.ui {
  grid-column: 1 / 1;
  justify-self: start;
  align-self: center;
}


.axisControl {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 0.5em;
}

.input {
  margin: .7em
}

.gType {
  margin-right: 1em
}

.plotlyStyle {
  padding: 1em
}

.select {
  width: 5%;
}

.componentFlexRow {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.componentFlexColumn {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.label {
  margin-right: .5em;
}